@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-80 dark:bg-darkTheme dark:bg-opacity-80;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  /* backdrop-filter: blur(5px); */
}

@layer components {
  .btn-ghost {
    @apply rounded-lg border-2 border-solid border-primary bg-transparent px-3 py-4 text-sm text-slate-600 transition duration-500 hover:bg-primaryAlt dark:text-primary dark:hover:text-icons;
  }
  .title-main {
    @apply mb-10 text-center font-poppins;
  }
  .text-title {
    @apply text-2xl font-semibold uppercase text-primary;
  }
  .text-subtitle {
    @apply text-[13px] text-slate-400;
  }
  .header-nav {
    @apply absolute top-0 left-0 z-10 flex w-full items-center bg-transparent;
  }
  .nav-menu {
    @apply fixed bottom-4 left-0 right-0 m-auto h-[72px] w-[328px] scale-75 overflow-hidden rounded-xl bg-navMenu px-2 py-6 shadow-md backdrop-blur-[10px] dark:bg-darkThemeNav sm:scale-90 md:scale-100 lg:scale-110;
  }
  .nav-list {
    @apply flex justify-center gap-8;
  }
  .nav-link {
    @apply flex flex-col items-center;
  }
  .nav-link i {
    @apply z-20 text-2xl text-icons transition duration-300 dark:text-iconsSub;
  }
  .nav-name {
    @apply absolute z-20 translate-y-[50px] text-[10px] font-semibold text-iconsSub opacity-0 transition duration-[400] dark:text-iconsSub;
  }
  .indicator {
    @apply absolute left-[5px] bottom-0 fill-primary transition duration-300;
  }
  .active-link i {
    @apply text-iconsSub dark:text-darkTheme;
  }
  .active-link .nav-name {
    @apply translate-y-[28px] opacity-100 dark:text-darkTheme;
  }
  .nav-link:nth-child(1).active-link ~ .indicator {
    @apply translate-x-[calc(56px*0)];
  }
  .nav-link:nth-child(2).active-link ~ .indicator {
    @apply translate-x-[calc(56px*1)];
  }
  .nav-link:nth-child(3).active-link ~ .indicator {
    @apply translate-x-[calc(56px*2)];
  }
  .nav-link:nth-child(4).active-link ~ .indicator {
    @apply translate-x-[calc(56px*3)];
  }
  .nav-link:nth-child(5).active-link ~ .indicator {
    @apply translate-x-[calc(56px*4)];
  }
  #dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-5;
  }
  .home-greets {
    @apply w-full self-center px-4 text-center font-poppins lg:w-1/2 lg:text-left;
  }
  .home-image {
    @apply w-full self-end px-4 lg:w-1/2;
  }
  .about-data {
    @apply flex flex-wrap lg:mx-auto lg:w-10/12;
  }
  .skill-data {
    @apply flex w-full flex-wrap px-4 font-poppins lg:mx-auto lg:w-10/12;
  }
  .skill-card {
    @apply h-[330px] rounded-2xl bg-slate-50 dark:bg-darkThemeNav;
  }
  .skill-title {
    @apply text-lg font-semibold dark:text-iconsSub;
  }
  .skill-list {
    @apply mx-4 mb-4 flex items-center;
  }
  .skill-list-name {
    @apply ml-2 text-[14px] dark:text-iconsSub;
  }
  .work-card {
    @apply mb-2 rounded-xl border border-slate-200 p-3 shadow-md dark:bg-darkThemeNav;
  }
  .work-card i {
    @apply py-2 text-xl dark:text-iconsSub;
  }
  .work-title {
    @apply mb-1 text-sm font-semibold dark:text-iconsSub;
  }
  .work-subtitle {
    @apply block text-[12px] dark:text-iconsSub;
  }
  .portfolio-list {
    @apply flex w-full flex-wrap justify-center px-4 font-poppins lg:mx-auto lg:w-10/12;
  }
  .portfolio-card {
    @apply overflow-hidden rounded-lg p-5 hover:scale-110 hover:transition hover:duration-500 dark:bg-darkThemeNav;
    box-shadow: 0 2px 16px rgba(11, 17, 30, 0.1);
  }
  .portfolio-title {
    @apply mb-3 truncate text-base font-semibold dark:text-iconsSub;
  }
  .portfolio-desc {
    @apply mb-[10px] text-justify text-[14px] text-slate-600 dark:text-iconsSub;
  }
  .portfolio-link {
    @apply text-[13px] text-secondary transition duration-500 hover:text-primaryAlt dark:text-primary;
  }
  .portfolio-badge {
    @apply mb-1 w-max rounded-md border-[2px] p-1 text-xs dark:text-white;
  }
  .contact-data {
    @apply flex w-full flex-wrap px-4 font-poppins lg:mx-auto lg:w-10/12;
  }
  .contact-card {
    @apply rounded-2xl bg-slate-100 py-14 text-center transition duration-500 hover:scale-110 hover:bg-slate-300 dark:bg-darkThemeNav dark:hover:bg-slate-300;
  }
  .contact-title {
    @apply text-lg font-semibold lg:text-xl;
  }
  .contact-subtitle {
    @apply mx-2 text-base md:mx-0;
  }
  .contact-icons {
    /*@apply mr-7 flex h-16 w-16 items-center justify-center rounded-full border-2 border-solid border-slate-300 text-slate-400 transition duration-500;*/
    @apply text-slate-400 transition duration-500;
  }
  .footer-link {
    @apply transition duration-500 hover:text-iconsSub;
  }
  .dark-mode {
    @apply transition duration-500 dark:bg-darkTheme dark:transition dark:duration-500;
  }
  .dark-mode-text {
    @apply dark:text-iconsSub;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-3 bg-slate-300 dark:bg-[#595f69];
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-md bg-[#3d4148];
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-[#2f3237];
  }
}
